html {
    scroll-behavior: smooth;
    height: 100%;
}
    
body {
    margin: 0px;
    padding: 0px;
}

.page-container {
    height: 100vh;
    position: relative;
}


.page-container-welcome {
    height: auto;
    width: 100%;
    /* opacity: 0.53; */
    position: relative;
    background-size: cover;
    background-image: url("/firstImage.jpg");
}

.logo {
    position: absolute;
}